.album-details-cmp {
  modal-content {
    h3 {
      margin-top: 0;
      margin-bottom: 30px;
      padding-bottom: 30px;
      font-size: 18px;
      font-weight: normal;
      border-bottom: 1px solid #F5F5F5;
    }

    ol {
      padding-left: 0;
      margin-left: 0;
      list-style: none;
    }

    ol li {
      margin-bottom: 25px;
      font-size: 16px;
      color: #6D6F7F;
    }

    ol li:last-child { margin-bottom: 0; }

    ol h4 {
      margin: 0;
      margin-bottom: 22px;
      font-size: 24px;
      font-weight: normal;
      color: $font-color;
    }
  }
}
