.album-details-cmp {
  modal-content {
    h3 { @extend .modal-content-title; }

    ol {
      padding-left: 0;
      margin-left: 0;
      list-style: none;
    }

    ol li {
      margin-bottom: 25px;
      font-size: 16px;
      color: $font-gray-color;
    }

    ol li:last-child { margin-bottom: 0; }

    ol h4 {
      margin: 0;
      margin-bottom: 22px;
      font-size: 24px;
      color: $font-color;
    }
  }
}
