.album-details-cmp
  modal(is-open="vm.isOpen")
    modal-cover
      img(ng-src="{{ vm.album.images[0].url }}")
    modal-title {{ vm.album.artists[0].name }} - {{ vm.album.name }}
    modal-content
      h3 Tracks
      ol.tracks
        li(ng-repeat="track in vm.tracks")
          h4 {{ track.name }}
          span.track-length {{ track.duration_ms | duration }}
