.album-details-cmp
  modal
    modal-cover
      img(src="https://i.scdn.co/image/0651ae56bfe1baf5c30aa7c047a9f991afbd35dc")
    modal-title Café Tacvba - Cuatro Caminos
    modal-content
      h3 Tracks
      ol
        each track in [1,2,3,4,5,6,7,8,9]
          li
            h4 Track name
            span 3:06
