.modal-background(ng-click="vm.close($event)", ng-if="vm.isOpen")
  .modal-cmp
    .modal-cmp-header
      figure(ng-transclude="cover")
      h2.modal-cmp-header-title(ng-transclude="title")
      a.close(ng-click="vm.isOpen = false") Close

    .modal-cmp-content(ng-transclude="content")
