.artist-details-cmp
  modal(is-open="vm.isOpen")
    modal-cover
      img(ng-src="{{ vm.artist.images[0].url }}")
    modal-title {{ vm.artist.name }}

    modal-content
      h3 Albums

      .albums-list
        article.album(ng-repeat="album in vm.albums")
          a
            figure
              img(ng-src="{{ album.images[1].url }}")
            h4 {{ album.name }}
            p.release-date ???
