#wrapper
  header#main-header
    h1 Music Search
    p Powered by Spotify

  form#search
    .input
      input(type="text", placeholder="Search for Artist or Album title")
      button(type="submit") Search

  #search-results
    .no-results
      p Your results will appear here

  footer#main-footer
    p Designed by Geek Label - Powered by Spotify
