#wrapper
  header#main-header
    h1 Music Search
    p Powered by Spotify

  search-input(ng-model="vm.search", ng-change="vm.onSearch()")

  #search-results
    //no-results
    search-results

  //album-details
  //artist-details

  footer#main-footer
    p Designed by Geek Label - Powered by Spotify
