#wrapper
  header#main-header
    h1 Music Search
    p Powered by Spotify

  search-input(ng-model="vm.search", ng-change="vm.onSearch()")

  #search-results
    no-results(ng-if="vm.searchResults.length == 0")
    search-results(results="vm.searchResults", on-select="vm.select($result)")

  artist-details(ng-if="vm.selectedResult", artist="vm.selectedResult")
  //album-details

  footer#main-footer
    p Designed by Geek Label - Powered by Spotify
