#wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

header#main-header {
  text-indent: -99999px;
  height: 638px;
  background: url('../images/music-search-header.png') 50% 50% no-repeat;

  h1, p { margin: 0 }
}

#search-results {
  min-height: 400px;
  background-color: #383A49;
}

footer#main-footer {
  padding: 34px 0;
  text-align: center;
  font-size: 16px;
  color: white;
}
