@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes moveUp {
  from { top: 60%; }
  to { top: 50%; }
}

@keyframes moveDown {
  from { top: 50%; }
  to { top: 60%; }
}
