$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome.scss";
@import "./globals";
@import "./helpers";
@import "../../components/**/*.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: white;
  background: $background-color;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
